OWNER_NAME="CYRUS THE VIRUS"
PREFIX="@"
PUBLIC_MODE='yes'
AUTO_READ_STATUS="no"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "CYRUS-MD"
IMAGE_MENU= "https://static.animecorner.me/2023/08/op2.jpg"
NUMERO_OWNER= "CYRUS"
OWNER_NAME= "᚛cyrus the virus᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
